/* Dark Theme Styles */
*body{
  background-color: #101f33; /* Dark background */
  color: white; /* Light text */
  font-family: "JetBrains Mono", monospace;
}

#editor, pre#output {
  width:80%;            /* 75% width */
  margin: 10px auto;     /* center horizontally with vertical margin */
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #334155;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  background-color: #1e293b;
  color: #a0f0a0;
  padding: 10px;
  resize: vertical;
  display: block;        /* so margin auto centers */
}

#editor {
  height: 300px;
  overflow: auto;
  font-family: "JetBrains Mono", monospace;
}

pre#output {
  height: 150px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: "JetBrains Mono", monospace;
}



